.hidden{
 display: none;   
}

body{
background: #636363;
font-family: 'Roboto Condensed', sans-serif;
color: #e3e3e3;

}

body.display{
overflow: hidden;
}

img{
border: 10px solid #e3e3e3;
outline: 1px solid #ffffff;
}

img.base{
background: #ffffff;
-webkit-box-shadow: 0 0 20px #000;
box-shadow: 0 0 20px #000;
margin: auto;
max-width: 100%;
max-height: 70%;
}

img.display{
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
}

img.gallery{
margin: 10px 10px 10px 10px;
max-width: 150px;
max-height: 150px;
height: auto;
width: auto;

}

input{
background: #636363;
border: 1px #e3e3e3 solid;
color: #e3e3e3;
}

a:link {color:#D8D8D8;}
a:visited {color:#BDBDBD;}

a.title:link {
color: #636363;
text-decoration:none;
}
a.title:visited {
color: #636363;
text-decoration:none;
}

form.login{
max-width: 425px;
margin: 0 auto;
border: 10px solid #e3e3e3;
outline: 1px solid #ffffff;
-webkit-box-shadow: 0 0 20px #000;
box-shadow: 0 0 20px #000;
background: #e3e3e3;
color: #636363;
}

div.loginwrapper{
position:absolute;
top:45%; 
bottom:0; 
left:0; 
right:0;
margin:auto; 
}

a.submit{
font-size: 200%;
margin-top: -100%;
border: none;
text-decoration:none;
color: #636363;
}

#keyinput{
font-size: 200%;
margin-top: -100%;
border: none;
border-bottom: 1px #636363 dotted;
background: none;
color: #636363;
}

#keyinput:focus{
outline-width: 0;
}

footer {
overflow: hidden;
font-family: 'Roboto Condensed', sans-serif;
margin: 0 auto;
position: absolute;
bottom:10px;
height:20px;   /* Height of the footer */
width: 99%;
display:inline-block;
}

header {
overflow: hidden;
font-family: 'Roboto Condensed', sans-serif;
display: inline-block;
width: 100%;
}

.align-left{
float: left;
}

.align-right{
float: right;

}

